/*--
- #ROOT CSS
--*/
:root {
  --background: hsl(260, 14%, 8%);
  --second-background: hsl(266 10% 15% / 1);
  --third-background: hsl(257, 10%, 14%);

  --primary-color: hsl(280, 17%, 90%);
  --second-color: hsl(270, 11%, 79%);
  --third-color: hsl(280, 17%, 90%);
  --highlight: hsl(258, 100%, 87%);

  --primary-border: hsl(264, 7%, 29%);
  --secondary-border: hsl(264, 5%, 58%);
  --third-border: hsl(258, 100%, 87%);




}

:root {
  /*----- Font Family -----*/
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;

  /*----- Font Size -----*/
  --base-font-size: 62.5%;
  --display-large: 5.7rem;
  --display-medium: 4.5rem;
  --display-small: 3.6rem;
  --headline-large: 3.2rem;
  --headline-medium: 2.8rem;
  --headline-small: 2.4rem;
  --title-large: 2rem;
  --title-medium: 1.6rem;
  --title-small: 1.4rem;
  --label-large: 1.4rem;
  --label-medium: 1.2rem;
  --label-small: 1.1rem;
  --body-large: 1.6rem;
  --body-medium: 1.4rem;
  --body-small: 1.2rem;

  /*----- Font weight -----*/
  --weight-regular: 400;
  --weight-medium: 500;
}

:root {
  /*----- Border Radius -----*/

  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 1.5rem;
  --radius-full: 500px;
  --radius-circle: 50%;

  /*----- Box shadow -----*/
  --elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
}

:root {
  /*----- Others -----*/
  --section-padding: 5rem;
  --top-bar-height: 70px;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0);
  --elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
}

@media (prefers-reduced-motion: no-preferrence) {
  :root {
    /* ### Transition */

    /*----- Duration -----*/
    --motion-duration-short-1: 100ms;

    /*----- Easing -----*/
    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  }
}

:root {
  /*----- Duration -----*/
  --motion-duration-short-1: 100ms;

  /*----- Easing -----*/
  --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
}

/* ------------------------------------------------------------ */

/*--
- #BASIC CSS
--*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

html {
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--background);
  color: var(--primary-color);
  font-size: var(--body-large);
}

/*--
- #TYPOGRAPHY
--*/

/* ----- Display ----- */
.display-large {
  font-family: var(--font-primary);
  font-size: var(--display-large);
  font-weight: var(--weight-regular);
  line-height: 6.5rem;
  letter-spacing: -0.25px;
}

.display-medium {
  font-family: var(--font-primary);
  font-size: var(--display-medium);
  font-weight: var(--weight-regular);
  line-height: 5rem;
}

.display-small {
  font-family: var(--font-primary);
  font-size: var(--display-small);
  font-weight: var(--weight-regular);
  line-height: 1.5;
}

/* ----- Headline ----- */
.headline-large {
  font-family: var(--font-primary);
  font-size: var(--headline-large);
  font-weight: var(--weight-regular);
  line-height: 4rem;
}

.headline-medium {
  font-family: var(--font-primary);
  font-size: var(--headline-medium);
  font-weight: var(--weight-regular);
  line-height: 4rem;
}

.headline-small {
  font-family: var(--font-primary);
  font-size: var(--headline-small);
  font-weight: var(--weight-regular);
  line-height: 3rem;
}

/* ----- Title ----- */
.title-large {
  font-family: var(--font-primary);
  font-size: var(--title-large);
  font-weight: var(--weight-medium);
  line-height: 3rem;
}

.title-medium {
  font-family: var(--font-primary);
  font-size: var(--title-medium);
  font-weight: var(--weight-medium);
  line-height: 3rem;
  line-height: 1.4rem;
}

.title-small {
  font-family: var(--font-primary);
  font-size: var(--title-small);
  font-weight: var(--weight-medium);
  line-height: 2rem;
}

/* ----- Body ----- */
.body-large {
  font-size: var(--body-large);
  font-weight: var(--weight-regular);
  line-height: 3rem;
  letter-spacing: 0.5px;
}

.body-medium {
  font-size: var(--body-medium);
  font-weight: var(--weight-regular);
  line-height: 2rem;
  letter-spacing: 0.25px;
}

.body-small {
  font-size: var(--body-small);
  font-weight: var(--weight-regular);
  line-height: 1.5rem;
  letter-spacing: 0.4px;
}

/* ----- label ----- */
.label-large {
  font-size: var(--label-large);
  font-weight: var(--weight-medium);
  line-height: 3rem;
  letter-spacing: 0.1px;
}

.label-medium {
  font-size: var(--label-medium);
  font-weight: var(--weight-medium);
  line-height: 2rem;
  letter-spacing: 0.5px;
}

.label-small {
  font-size: var(--label-small);
  font-weight: var(--weight-medium);
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

/* ------------------------------------------------------------ */

/*--
- #BUTTON-LAYER
--*/
.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  opacity: 0;
}

:has(> .state-layer):hover .state-layer {
  opacity: 0;
}

:has(> .state-layer):is(:focus, :focus-visible, :active) .state-layer {
  opacity: 0.12;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/*--
- #SECTION-CONTAINER
--*/
.section {
  padding-block: var(--section-padding);
}

.section-title {
  margin-block-end: 1.5rem;
  margin-block-start: 1.5rem;

}

.container {
  margin: auto;
  margin-inline: 1.5rem;
}

/*--
- #IMAGE
--*/
.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: transparent;
  overflow: hidden;
}

.img-cover {
  height: 100%;
  object-fit: cover;
  background-color: var(--background);
}

.light,
.dark {
  padding-top: 1.8rem;
  height: 7rem;
}

/*--
- #COMPONENT
--*/

/*--
 - #CARD 
 --*/
.card {
  background-color: var(--second-background);
  border-radius: var(--radius-medium);
  padding: 1.5rem;
  --state-layer-bg: var(--on-surface-dark);
}

.card-title {
  color: var(--on-surface-dark);
}

.card-banner {
  border-radius: var(--radius-medium);
}

.card-subtitle {
  color: var(--second-color);
}

/*.card-content {
   display: grid;
  gap: 4px; 
}*/

/*--
- #BUTTON
--*/
.icon-btn {
  width: 4rem;
  height: 4rem;
  /* display: grid; */
  place-items: center;
}

.btn {
  height: 4rem;
  display: grid;
  place-items: center;
  padding-inline: center;
  border-radius: var(--radius-full);
  background-color: var(--primary);
  color: var(--on-primary);
  font-weight: var(--weight-medium);
  overflow: hidden;
  --state-layer-bg: var(--highlight);
}

.btn:hover:not(:focus) {
  box-shadow: var(--elevation-1);
}

.material-symbols-outlined {
  cursor: pointer;
  width: 1em;
  height: 1em;
  display: block;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*
- #TAB
*/
.tab-content:not(.active) {
  display: none;
}

.primary-tabs {
  background-color: var(--background);
  margin-block-start: 3rem;
  margin-inline: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  border-block-end: 1px solid var(--primary-border);
  padding-block-end: 5px;
}

.tab-btn {
  height: 4.8rem;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: var(--surface-bright-darkdark);
  color: var(--second-color);
  border-radius: var(--radius-small);
}

.tab-btn:hover {
  --state-layer-bg: var(--highlight);
}

.tab-btn .active {
  /* border-bottom: 1px red; */
  color: var(--primary-light);
  --state-layer-bg: var(--highlight);
}

.tab-text {
  position: relative;
  height: 4.8rem;
  line-height: 5rem;
}

.tab-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px 3px 0 0;
  background-color: var(--highlight);
  opacity: 0;
}

.tab-btn.active .tab-text::after {
  opacity: 1;
}

/*
- #CHIP
*/
.chip {
  height: 1.8rem;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding-inline: 1.5rem; */
  border: 1px solid var(--primary-border);
  border-radius: var(--radius-small);
  background-color: var(--surface-dark);
  color: var(--second-color);
  --state-layer-bg: var(--second-color):
}

.btn-wrapper .chip {
  padding: 1.2rem;
  margin-top: 1.2rem;
}

.chip .material-symbols-outlined {
  font-size: 1.8rem;
}

/*
- #INPUT FIELD
*/
.input-field,
.textarea {
  border: 1px solid var(--primary-border);
  color: var(--on-surface-dark);
  padding: .8rem 1rem;
  box-shadow: inset 0 0 0 1px var(--primary-border);
  border-radius: var(--radius-extra-small);
  outline: none;
  transition: box-shadow var(--motion-duration-short-1) var(--motion-easing-linear);
}

.textarea {
  height: 12rem;
  padding: 1.5rem;
}

input:hover {
  border: 1px solid var(--third-border);
}

.textarea:hover {
  border: 1px solid var(--third-border);
}

:where(.input-field, .textarea)::placeholder {
  color: var(--on-surface);
}

:where(.input-field, .textarea)::focus {
  box-shadow: inset 0 0 0 1px var(--highlight);
}

/*
- #BORDER
*/
.border {
  border-block-end: 1px solid var(--primary-border);
  width: 95%;
  padding-bottom: .5rem;
}

/* ------------------------------------------------------------ */

/*--
- #NAVBAR
--*/
.navbar {
  background-color: var(--background-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--top-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  z-index: 4;
}

.theme-btn {
  color: var(--second-color);
  border-radius: var(--radius-full);
  overflow: hidden;
}

[data-theme="light"] .theme-btn .dark,
[data-theme="dark"] .theme-btn .light {
  display: none;
}

[data-theme="light"] .theme-btn .light,
[data-theme="dark"] .theme-btn .dark {
  display: inline-block;
}

/*--
- #HERO-SECTION
--*/
.hero-sec {
  padding: 0;
}

.hero-sec {
  padding-block-start: calc(var(--top-bar-height) + 2rem);
}

.hero .container {
  /* display: grid;
  grid-template-columns: 0.2fr 1fr; */
  align-items: center;
  gap: 3rem;
}

.hero-banner {
  margin: auto;
  width: 24rem;
  height: 24rem;
  border-radius: var(--radius-circle);
}

.hero-contant {
  word-wrap: break-word;
  padding: 2rem 1.5rem 5rem;
  margin-inline: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hero-contant p ul {
  list-style: disc;
  font-size: var(--body-medium);
}

.hero .section-subtitle {
  color: var(--second-color);
}

.hero .section-text {
  margin-block: 5px 1.5rem;
  color: var(--second-color);
}

.hero .btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/*--
- #ABOUT-SECTION
--*/

.about-aside {
  background-color: var(--second-background);
  color: var(--second-color);
  border-radius: var(--radius-large);

  margin-inline: 1.5rem;
  margin-block-start: 2rem;

  padding: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.about-aside .card-title {
  color: var(--on-surface-dark);
  padding-bottom: .4rem;
}

.about-aside .card-text {
  margin-block: 1.5rem;
  padding-block: 1.5rem;
  border-block: 1px solid var(--primary-border);
}

.about-list {
  display: grid;
  gap: 1.5rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*--
- #TABS
--*/

/*--
- #PROJECT-TAB
--*/
/* .project-sec .container ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
} */

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*--
- #RESUME-TAB
--*/
.resume-sec {
  padding: 0;
  margin-top: 5rem;
}

.resume-tab .list {
  /* display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem; */
  margin-block-end: 3rem;
}

.padding {
  margin: 1rem 0;
}

.resume-card .card-subtitle {
  color: var(--highlight);
}

.resume-card .card-text {
  color: var(--second-color);
}

.resume-bottom-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.resume-bottom-items {
  background-color: var(--third-background);
  border-radius: var(--radius-small);

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
  padding: 1.2rem;
  align-items: center;
  justify-content: center;
}

.resume-bottom-items .icon {
  height: 3rem;
  margin-right: 1rem;
}

.skill-list {
  margin-block-end: 3rem;
}

/*--
- #CONTACT-TAB
--*/

.contact-sec {
  padding-bottom: 0;
}

.contact-sec .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.contact-info,
.contact-info-list {
  display: -ms-grid;
  flex-direction: column;
  gap: 1rem;
}


.contact-info h4 {
  margin-block-start: 1.5rem;
}

.contact-info-list {
  padding-bottom: 2rem;
  border-block-end: 1px solid var(--primary-border);
}


.contact-info-item {
  display: flex;
}

.contact-info-list {
  display: flex;
  gap: 1rem;
}

.contact-info .icon-box {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  /* display: grid; */
  place-items: center;
  color: var(-dark);
}

.social-image {
  height: 3rem;
  width: 3rem;
  filter: invert(100%) brightness(85%);
}

.info-title {
  color: var(--second-color);
  opacity: 0.6;
  padding: .5rem 0;
}

.info-text {
  color: var(--second-color);
}

.input-wrapper {
  margin-block-end: 1.5rem;
  /* display: grid;
  gap: 1rem;*/
}

.contact-form {
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  background-color: var(--third-background);
  padding: 1.5rem;
  border-radius: var(--radius-medium);
}

.contact-form h3 {
  padding-bottom: 3rem;
}

.input-wrapper .btn {
  background-color: var(--primary-light);
}

.socialIcon-hide {
  display: none;
}

.social-icon {
  padding: 3rem 0;
  border-block-start: 1px solid var(--primary-border);
  justify-content: space-around;
  display: flex;
}

.social-items path, .social-items rect {
  fill: hsl(280, 17%, 90%);
  transition: fill 0.2s ease; 
}

.social-items:hover path, .social-items:hover rect {
  fill: var(--highlight); 
}

/*--
- #FOOTER
--*/
.footer .container {
  width: 95%;
  margin: 0rem auto 0rem;
  text-align: center;
  padding: 2rem;
  border-block-start: 1px solid var(--primary-border);
}


@media (min-width: 1025px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 60%;
  }
  .display {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
  }
  
  /* #HERO */
  .hero-sec {
    display: flex;
  }
  .hero-banner, .hero-image {
    width: 90%;
  }
  
  .btn-wrapper {
    display: flex;
    padding-top: 1.5rem;
    gap: 1.5rem;
  }
 
  /* #ABOUT */
  .about-aside {
    height: 37.5rem;
    margin-top: 3rem;
  }

  /* #PROJECTS */
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  /* #RESUME */
  .resume-sec {
    padding: var(--section-padding) 0;
    margin-top: 0;
  }

  .resume-bottom-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /* #CONTACT */

  .contact-sec {
    padding: 0;
    padding: 5rem 0;
  }

  .social-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
  }

  .contact-form {
    margin: 0;
  }

  .socialIcon-hide {
    display: block;
    padding: 3rem 0;
    border-block-start: 1px solid var(--primary-border);
    border-block-end: 1px solid var(--primary-border);
    justify-content: space-around;
    display: flex;
  }

  .social-icon {
    display: none;
  }

}
